<div class="landing-wide content-block">
    <div class="container">
        <div class="row">
            <div id="about" class="span5 about-us">
                <h2>About Us</h2>

                <h4>
                  Expert Commercial Cleaning 
                </h4>

                <p>LP Commercial Cleaning Services, LLC is an individualy owned business, not a franchise.</p>

                <p>
                    We specialize in commercial cleaning services for businesses of all sizes and types. Our expert, insured staff will go above and beyond to deliver the highest quality service possible to help you manage your cleaning needs.
                </p>
                <p>
                     With LP Commercial Cleaning Services you don't have to worry about contracts that tie you down. Call for a free no-obligation cleaning estimate today at <strong>508.405.1347</strong> or <strong>1.888.780.00LP</strong>  At LP We do the dirty job so you don’t have to. We provide service to any type of business from small retail locations, offices, large facilities and more. 
                </p>

                
                <a href="contact_us.php" class="btn btn-lg btn-success">Contact Us</a>
            </div> 

            <div id="about-two" class="span12 about-us-two">
                <h2>About Us</h2>

                <h4>
                    Expert Commercial Cleaning 
                </h4>

                

                <p>
                    We specialize in commercial cleaning services for businesses of all sizes and types. Our expert, insured staff will go above and beyond to deliver the highest quality service possible to help you manage your cleaning needs.
                </p>
                <p>
                     With LP Commercial Cleaning Services you don't have to worry about contracts that tie you down. Call for a free no-obligation cleaning estimate today at <strong>508.405.1347</strong> or <strong>1888-780-00LP</strong>  At LP We do the dirty job so you don’t have to. We provide service to any type of business from small retail locations, offices, large facilities and more. 
                </p>

                <a href="#newletter" class="btn btn-lg btn-success">Contact Us</a>
            </div> 
            </div>

            <div class="row map">
                <div class="span12">

                <!-- <svg width="96" height="96">
                    <image xlink:href="assets/map/MA_map.svg" src="image/svg+xml"  />
                </svg> -->

                

                    <object type="image/svg+xml" data="assets/map/MA_map.svg" id="map"></object>

                </div>
                
            </div>

            <div class="content-block small-padding">
                <div class="container">
                    <div class="row-fluid promise">
                        
                        <div class="span4">
                            <img src="assets/img/cleaning.jpg" alt="Hard at work!">
                        </div>


                        <div class="span8">
                            <h1>Our Promise:</h1>

                            <h2>To deliver top quality janitorial services to commercial business and office cleaning through honesty, integrity, hard work and reliability.</h2>

                            <p>We use a sophisticated management system that allows us to manage our cleaning technitians clock ins and outs  through phone calls and fingerprint punch.</p>

                            <p>Alerts are sent to supervisors and management just 5 minutes past the technitian scheduled time in case of a missing clock in. This system allows us to know exactly the time our technitians spend on each cleaning which ensures quality control.</p>

                            <p>Each account has an assigned supervisor, the supervisor is required to have scheduled onsite monthly inspections and walkthroughs for quality assurance.  </p>

                            </br>

                            <h1>Our Mission:</h1>


                            <ul>
                                <li>
                                    <p>To provide our cleaning technicians with the best work environment possible, best training and best tools to suceed</p>
                                </li>

                                <li>
                                    <p>To understand the needs of our clients in order for us to be able to deliver</p>
                                </li>
                                
                                <li>
                                    <p>To stablish a long term business relationship with our clients</p>
                                </li>
                                
                                <li>
                                    <p>To give our clients the service they expect with the integrity they deserve and treat them with dignity and respect</p>
                                </li>
                                
                                <li>
                                    <p>To be a leader in the commercial cleaning industry</p>
                                </li>

                            </ul>

                            <div class="hero-pattern-button">
                                <a href="#newsletter" class="btn btn-lg btn-success">Contact Us</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <!-- 
                <div class="content-block small-padding">
                    <div class="container">
                        <div class="row-fluid span12 promise">
                            
                
                            <div class="hero-pattern-button">
                                <a href="#newsletter" class="btn btn-lg btn-success">Contact Us</a>
                            </div>
                        </div>
                    </div>
                </div>    
                 -->    
        </div>
    </div>