<div class="content-block">
    <div class="container">
        <div class="row-fluid ">
            <h1 class="span12">LP Commercial Cleaning</h1>

            <p>We are a full service commercial office cleaning and building services company servicing the entire state of Massachusetts. We have a proven track record of timely performance, quality cleaning workship and very competitive pricing.</p>

            <p>LP is a quality focused company that succeeds by establishing a solid relationship with our clients while providing our cleaning technicians with the best training and tools to suceed.</p>

            <div class="hero-pattern-button">
                <a href="#newsletter" class="btn btn-lg btn-success">Contact Us</a>
            </div>
        </div>
    </div>
</div>   