<div class="hero-unit landing bgimg">
        <div class="container">
            <div class="row">
                <div class="span6">
                    <h1>The Service You Expect, The Integrity You Deserve</h1>

                    <p>
                        We specialize in providing a wide range of cleaning and janitorial services for all types of businesses. Contact us now for a no-obligation estimate.
            
                    </p>
                    
                    <h2 id="call">Call today at</h2>
                    <h2 id="number"><strong>1.888.780.00LP</strong>(57) &amp; <strong>508.405.1347</strong></h2>
                    
                    </br>

                    <h3 id="address">20 Stony Brook Rd</h3>
                    <h3 id="address">Framingham, MA, 01702</h3>
            
                </div>
               
            </div>
        </div>
    </div>