<div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                

                <a class="btn btn-navbar" href="#" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                
                

                <a class="brand" href="index.php">
                    <img src="assets/img/icons/logo_no_text.png" class="img-responsive" alt="LP Commercial Cleaning" />
                </a>
                <p class="navbar-text pull-left">LP Commerical Cleaning Services</p>

                

                <div class="nav-collapse collapse">
                    <ul class="nav">
                        <li class="option active"><a href="index.php">Home</a></li>
                        <li class="option"><a href="about_us.php">About Us</a></li>
                        <li class="option"><a href="services.php">Services</a></li>
                        <li class="option"><a href="contact_us.php">Contact Us</a></li>
                        <li class="option"><a href="locations.php">Service Area</a></li>
                        
                    </ul>
                </div>
            </div>
        </div>
    </div>