    <div class="container">
        <div id="features" class="row land-feat">
            <!-- <div class="span6 phone">
                <img src="assets/img/iphone.png" alt="iphone" />
            </div> -->

            <div class="span12"><h2>Services Include</h2></div>

            <div class="span6 list">
                
                <ul>
                    <li>
                        <h4>Janitorial Services</h4>

                        <p>
                            Daily, Nightly, Weekly, Bi-Weekly any one time or regular service.          
                        </p>

                    </li>
                    <li>
                        <h4>Carpet Cleaning</h4>

                        <p>
                            Cleaning and deodorizing services. Other kinds of floor cleaning services available as well.
            
                        </p>

                    </li>
                    <li>
                        <h4>Window Cleaning</h4>

                        <p>
                            Window service of all types and sizes, and an attention to detail you won't regret. We clean not only the panes, but sills and frames.
                        </p>

                    </li>
                </ul>
            </div>

            <div class="span6 list">
               
                <ul>
                    <li>
                        <h4>Floor Maintenance</h4>

                        <p>
                            Includes floors of all types, We treat hardwood, laminate, concrete, untreated wood, marble, and more.
            
                        </p>

                    </li>
                    <li>
                        <h4>Post Construction Cleanup</h4>

                        <p>
                            Construction is messy business. Don't worry about cleaning the space yourself, we handle post-construction cleanup for job sites of any size.    
            
                        </p>

                    </li>
                    <li>
                        <h4>Move In &amp; Move Out</h4>

                        <p>
                            Don't worry about getting your deposit back. We can handle all cleanup related to moving, including making your new place perfect.
                        </p>

                    </li>
                </ul>
            </div>
        </div>

        <div class="row services-btn">
            <div class="span12">
                <a href="services.php" class="btn btn-success pull-right">Learn More</a>
            </div>
        </div>

    </div>