<div class="hero-pattern">
        <div class="container">
            <div class="row hero-pattern-title">   
                <div class="span10">
                    <h2 id="myDiv">Contact Us for a no obligation estimate</h2>
                    <p class="hero-pattern-sub">Our 100% Fully Insured Expert Cleaners Are Ready</p>
                </div>
                <div class="hero-pattern-button span2">
                    <a href="contact_us.php" class="btn btn-lg btn-success pull-right">Contact Us</a>
                </div>
            </div>
        </div>
    </div>