<div class="container">
        <div class="row landing-tips">
            <div class="span4">
                <img src="assets/img/bucket_icon.png" alt="icon" />
                <h3>Expert Cleaning</h3>

                <p>
                    Our expert staff of insured cleaners are able to tackle any job large or small. From regular service to one-time needs.
        
                </p>

            </div>


            <div class="span4">
                <img src="assets/img/calendar.png" alt="icon" />
                <h3>Service On Your Time</h3>
            
                <p>
                    One-time. Weekly. Bi-weekly. We will work with you to best fit your needs and scheduling.
                    
                </p>
            
            </div>
            
            
            <div class="span4">
                <img src="assets/img/building.png" alt="icon" />
                <h3>Businesses of all Sizes</h3>
            
                <p>
                    If you're a small retail store, or a huge corporate headquarters, we can suit the needs of your business today, and as you grow.
                    
                </p>
            
            </div>

        </div>
    </div>